{% extends "sample.html" %}

{% block body %}
<!-- <link rel="stylesheet" type="text/css" href="print.css" media="print"> -->


{% set hosts_num= host_detail | length %}



<h1>Cluster结构</h1>
<div class="cluster_tree" id="cluster_tree"></div>

<h1>Cluster配置信息</h1>
<h2>HA配置信息</h2>
<div class="short_table_container">
    <table class="table2" >
        <tr>
            <th>HA Enabled</th>        
            <td colspan="2"> {{ cluster_config['ha_config']['enabled'] }} </td>
        </tr>
        <tr>
            <th>hostMonitoring</th>
            <td colspan="2">{{ cluster_config['ha_config']['hostMonitoring'] }} </td>
        </tr>
        <tr>
            <th>admissionControlEnabled</th>
            <td colspan="2">{{ cluster_config['ha_config']['admissionControlEnabled'] }} </td>
        </tr>
        <tr>
            <th>vmIsolationResponse</th>
            <td colspan="2">{{ cluster_config['ha_config']['vmIsolationResponse'] }} </td>
        </tr>
        <tr>
            <th>heartbeatDatastore</th>
            
            <td colspan="2">{{ cluster_config['ha_config']['heartbeatDatastore'] }} </td>
        </tr>
        {% set advancedSettings=cluster_config['ha_config']['advancedSettings'] %}
        {% if (advancedSettings | length )>0 %}
            <tr><th colspan="3">AdvancedSettings</th></tr>
            {% for item in advancedSettings %}
                {% for key,value in item.items() %}
    
                    <tr>
                        <td></td>
                        <td>{{ key }}</td>
                        <td>{{ value }} </td>
                    </tr>   
                {% endfor %}     
            {% else %}
                    
            {% endfor %}
        {% endif %}
    </table>
</div>

<h2>DRS配置信息</h2>
<div class="short_table_container">
    <table class="table2">
        <tr>
            <th>DRS Enabled</th>
            {% if cluster_config['drs_config']['vmotionRate']<5 %}
            <td> enabled </td>
            {% else %}
            <td> Disabled </td>
            {% endif %}
        </tr>
        <tr>
            <th>defaultVmBehavior</th>
            <td>{{ cluster_config['drs_config']['defaultVmBehavior'] }}</td>
        </tr>
    </table>
</div>
<h2>EVC配置信息</h2>
<div class="short_table_container">
    <table class="table2">
        <tr>
            <th>EVC Enabled</th>
            <td>{{cluster_config['evc_config']['enabled'] }}</td>
        </tr>
        <tr>
            <th>EVC Mode</th>
            <td>{{cluster_config['evc_config']['EVCMode'] }}</td>
        </tr>
    </table>
</div>
<h1>ESXi主机基本信息</h1>
<div class="mid_table_container">
    <table class="table2">
        <tr>
            <th scope="col">主机名</th>
            <th scope="col">ESXi version</th>
            <th scope="col">vendor</th>
            <th scope="col">Model</th>
            <th scope="col">SN</th>
            <th scope="col">Uptime(H)</th>

        </tr> 
        {% for i in range(hosts_num) %}   
        <tr>
            <td>{{ host_detail[i]['host'] }}</td>        
            <td>{{ host_detail[i]['basic_info'][0]['esxi'] }}</td>
            <td>{{ host_detail[i]['basic_info'][0]['vendor'] }}</td>
            <td>{{ host_detail[i]['basic_info'][0]['model'] }}</td>
            <td>{{ host_detail[i]['basic_info'][0]['sn'] }}</td>
            <td>{{ host_detail[i]['basic_info'][0]['uptime'] }}</td>
        </tr>
        {% endfor %}
        
    </table>
</div>
<details class="details-1" open>
<summary>CPU&Memory</summary>
<ul>
    <li>物理配置    </li>
    <div class="mid_table_container">
        <table class="table2">
            <tr>
                <th scope="col">主机名</th>
                <th scope="col">CPU model</th>
                <th scope="col">Frequency(Mhz)</th>
                <th scope="col">Cores/Threads</th>
                <th scope="col">RAM(GB)</th>


            </tr>
            {% for i in range(hosts_num) %}   
            <tr>
                <td>{{ host_detail[i]['host'] }}</td>  
                <td>{{ host_detail[i]['cpu_ram_config'][0]['cpuModel'] }}</td>
                <td>{{ host_detail[i]['cpu_ram_config'][0]['cpuMhz'] }}</td>
                <td>{{ host_detail[i]['cpu_ram_config'][0]['numCpuCores']|string }}/{{ host_detail[i]['cpu_ram_config'][0]['numCpuThreads']|string }}</td>
                <td>{{ host_detail[i]['cpu_ram_config'][0]['ramSize'] }}</td>
            </tr>
            {% endfor %}  
        </table>
    </div>
    <li>使用率（Usage） </li>
    <div class="mid_table_container">
        <table class="table2">
            <tr>
                <th scope="col">主机名</th>
                <th scope="col">整合比（vCPU/Cores）</th>
                <th scope="col">CPU Usage（%）</th>
                <th scope="col">Memory Usage(%)</th>
            </tr>
            {% for i in range(hosts_num) %}
            <tr>
                <td>{{ host_detail[i]['host'] }}</td>  
                <td>{{ host_detail[i]['cpu_ram_usage'][0]['consolidate_ratio'] }}</td>
                <td>
                    
                    <div class="g-progress" progress="{{ (host_detail[i]['cpu_ram_usage'][0]['cpu_usage']|float(default=0.000))*100 }}" style="--progress: {{ (host_detail[i]['cpu_ram_usage'][0]['cpu_usage']|float(default=0.000))*100 }}%">
                        <span>{{ "%2.1f" | format(host_detail[i]['cpu_ram_usage'][0]['cpu_usage']|float(default=0.000)*100 ) }}%</span>
                    </div>
                </td>
                <td>
                    
                    <div class="g-progress" progress="{{ (host_detail[i]['cpu_ram_usage'][0]['ram_usage']|float(default=0.000))*100 }}" style="--progress: {{ (host_detail[i]['cpu_ram_usage'][0]['ram_usage']|float(default=0.000))*100 }}%">
                        <span>{{ "%2.1f" | format(host_detail[i]['cpu_ram_usage'][0]['ram_usage']|float(default=0.000)*100 ) }}%</span>
                    </div>
                </td>
            </tr>
            {% endfor %}  
        </table>
        <script>
            const elements = document.querySelectorAll('[progress]');

            elements.forEach(element => {
                
            if (parseInt(element.getAttribute('progress')) <= 60) {
                element.style.background = 'linear-gradient(90deg, #26de81, #20bf6b var(--progress), transparent 0)';
            }else if (parseInt(element.getAttribute('progress')) > 90){
                element.style.background = 'linear-gradient(90deg, #fc5c65, #eb3b5a var(--progress), transparent 0)';
            }else{
                element.style.background = 'linear-gradient(90deg, #fed330, #f7b731 var(--progress), transparent 0)';
            }
            });

        </script>
    </div>
</ul>
</details>


{% if cluster_config['vsan_enabled'] %}
    <h2>VSAN信息</h2>

    <h3>VSAN硬盘清单</h3>
    <div class="mid_table_container">
    {% for item in cluster_config['vsan_info'] %}
        {% if item['cluster_disMapInfo'] %}
            <table class="table2">
                <thead>
                    <tr>
                        <th>canonicalName</th>
                        <th>displayName</th>
                        <th>diskType</th>
                        <th>model</th>
                        <th>serialNumber</th>
                        <th>operationalState</th>
                        <th>capacity(GB)</th>
                        <th>physicalLocation</th>
                        <th>formatVersion</th>
                    </tr>
                </thead>
            {% for host in item['cluster_disMapInfo'] %}
                <tbody>
                    <tr class="groupheader" >
                        <td colspan="9">hostname: {{ host['hostname'] }}</td>
                        
                    </tr>  
                    {% for disk in host['hostDiskMapInfo'] %} 
                        {% if (disk['ssdMapInfo'] | length) >0 %}
                            {% for ssd_disk in disk['ssdMapInfo'] %}
                                <tr>
                                    <td>{{ ssd_disk['canonicalName'] }}</td>
                                    <td>{{ ssd_disk['displayName'] }}</td>
                                    <td>SSD</td>
                                    <td>{{ ssd_disk['model'] }}</td>
                                    <td>{{ ssd_disk['serialNumber'] }}</td>
                                    <td>{{ ssd_disk['operationalState'] }}</td>
                                    <td>{{ ssd_disk['capacity'] }}</td>
                                    <td>{{ ssd_disk['physicalLocation'] }}</td>
                                    <td>{{ ssd_disk['formatVersion'] }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        {% if (disk['noSsdMapinfo'] | length) >0 %}
                            {% for nossd_disk in disk['noSsdMapinfo'] %}
                                <tr>
                                    <td>{{ nossd_disk['canonicalName'] }}</td>
                                    <td>{{ nossd_disk['displayName'] }}</td>
                                    <td>HDD</td>
                                    <td>{{ nossd_disk['model'] }}</td>
                                    <td>{{ nossd_disk['serialNumber'] }}</td>
                                    <td>{{ nossd_disk['operationalState'] }}</td>
                                    <td>{{ nossd_disk['capacity'] }}</td>
                                    <td>{{ nossd_disk['physicalLocation'] }}</td>
                                    <td>{{ nossd_disk['formatVersion'] }}</td>
                                </tr>
                </tbody>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </table>
        {% endif %}
    {% endfor %}
    </div>
    <h3>VSAN性能指标</h3>
    <div class="dashboard">
        <div class="wedget" id="cls_frontend_metric_iops"></div>
        <script type="text/javascript">           
            // 基于准备好的dom，初始化echarts实例
            var ItemColor='#1FD6C1';
            var chart_container=document.getElementById('cls_frontend_metric_iops');
            // chart_container.width
            var myChart = echarts.init(chart_container,'',{width:chart_container.clientWidth,}); 
            // #根据窗口调整大小
            // window.addEventListener('resize', function() {
            //     myChart.resize();
            // });
                
            var option = {
            title: {
                text: 'IOPS',
                left: 'center'
            },
            // tooltip: {trigger: 'axis'},
    

            xAxis:{
                type: 'category',
                name: 'Time',
                data: {{ vsan_perf['cls_frontend_metric']['sampleInfo'] |safe }},
                axisLabel:{
                    rotate: 45,
                    // interval: 4,
                    fontSize: 10,
                }
            },
            yAxis:{
                type:'value',
                name: ''
            },
            legend:{
                left: 'right',
                top: 20
            },
            series:[
                {   name:"Read-Frontend",                       
                    data: {{ vsan_perf.cls_frontend_metric.iopsRead | safe }},
                    type: 'line',
                    smooth: true,
                    symbolSize: 6, //设定实心点大小
                    lineStyle: {
                        type:"solid",
                        width: 1

                    }
                },
                {   name:"Write-Frontend" ,                    
                    data: {{ vsan_perf.cls_frontend_metric.iopsWrite | safe }},
                    type: 'line',
                    smooth: true,
                    symbolSize: 6, //设定实心点大小
                    lineStyle: {
                        type:"solid",
                        width: 1

                    }

                },
                {   name:"Read-backend",                    
                    data: {{ vsan_perf.cls_backend_metric.iopsRead | safe }},
                    type: 'line',
                    smooth: true,
                    symbolSize: 6, //设定实心点大小
                    lineStyle: {
                        type:"solid",
                        width: 1

                    }
                },
                {   name:"Write-backend" ,                    
                    data: {{ vsan_perf.cls_backend_metric.iopsWrite | safe }},
                    type: 'line',
                    smooth: true,
                    symbolSize: 6, //设定实心点大小
                    lineStyle: {
                        type:"solid",
                        width: 1

                    }

                }
            ]
            };
            myChart.setOption(option);   
        
            // 指定图表的配置项和数据
              
        </script> 

        <!-- 吞吐量    -->
        <div class="wedget" id="cls_frontend_metric_throughput"></div>
        <script type="text/javascript">           
            // 基于准备好的dom，初始化echarts实例
            var ItemColor='#1FD6C1';
            var myChart = echarts.init(document.getElementById('cls_frontend_metric_throughput'));                        
            // 指定图表的配置项和数据
            var sampleInfo=Array({{ vsan_perf['cls_frontend_metric']['sampleInfo'] |safe }}.length);

            var option = {
                title: {
                    text: 'Throughput',
                    left: 'center'
                },
                // tooltip: {trigger: 'axis'},
        
                xAxis:{
                    type: 'category',
                    name: 'Time',
                    data: {{ vsan_perf['cls_frontend_metric']['sampleInfo'] | safe }},
                    axisLabel:{
                        rotate: 45,
                        // interval: 4,
                        fontSize: 10,
                    }
                },
                yAxis:{
                    type:'value',
                    name: 'Bps'
                },
                legend:{
                    left: 'right',
                    top: 20
                },
                series:[
                    {   name:"throughputRead-Front",                     
                        data: {{ vsan_perf['cls_frontend_metric']['throughputRead'] | safe }},
                        type: 'line',
                        smooth: true,
                        symbolSize: 6, //设定实心点大小
                        lineStyle: {
                            type:"solid",
                            width: 1

                        }
                    },
                    {   name:"throughputWrite-Front" ,                    
                        data: {{ vsan_perf['cls_frontend_metric']['throughputWrite'] | safe }},
                        type: 'line',
                        smooth: true,
                        symbolSize: 6, //设定实心点大小
                        lineStyle: {
                            type:"solid",
                            width: 1

                        },

                    },
                    {   name:"throughputRead-Backend",                    
                        data: {{ vsan_perf['cls_backend_metric']['throughputRead'] | safe }},
                        type: 'line',
                        smooth: true,
                        symbolSize: 6, //设定实心点大小
                        lineStyle: {
                            type:"solid",
                            width: 1

                        }
                    },
                    {   name:"throughputWrite-Backend" ,                   
                        data: {{ vsan_perf['cls_backend_metric']['throughputWrite'] | safe }},
                        type: 'line',
                        smooth: true,
                        symbolSize: 6, //设定实心点大小
                        lineStyle: {
                            type:"solid",
                            width: 1

                        },

                    }
                ]
            };
            myChart.setOption(option);                 
        </script>  


        <!-- 延迟 -->
        <div class="wedget" id="cls_frontend_metric_latency"></div>
        <script type="text/javascript">           
            // 基于准备好的dom，初始化echarts实例
            var ItemColor='#1FD6C1';
            var myChart = echarts.init(document.getElementById('cls_frontend_metric_latency'));                        
            // 指定图表的配置项和数据
            var option = {
                title: {
                    text: 'Latency',
                    left: 'center'
                },
                // tooltip: {trigger: 'axis'},
        
                xAxis:{
                    type: 'category',
                    name: 'Time',
                    data: {{ vsan_perf['cls_frontend_metric']['sampleInfo'] |safe }},
                    axisLabel:{
                        rotate: 45,
                        // interval: 4,
                        fontSize: 10,
                    }
                },
                yAxis:{
                    type:'value',
                    name: '微秒'
                },
                legend:{
                    left: 'right',
                    top: 20
                },
                series:[
                    {   name:"latencyAvgRead",                     
                        data: {{  vsan_perf['cls_frontend_metric']['latencyAvgRead'] | safe }},
                        type: 'line',
                        smooth: true,
                        symbolSize: 6, //设定实心点大小
                        lineStyle: {
                            type:"solid",
                            width: 1

                        }
                    },
                    {   name:"latencyAvgWrite" ,                     
                        data: {{ vsan_perf['cls_frontend_metric']['latencyAvgWrite'] | safe }},
                        type: 'line',
                        smooth: true,
                        symbolSize: 6, //设定实心点大小
                        lineStyle: {
                            type:"solid",
                            width: 1

                        },
                        markLine: { 
                                    Symbol: 'none',
                                    data: [
                                        {  
                                            name: '阈值', 
                                            yAxis: 20000
                                        }
                                    ],
                                    lineStyle: {
                                        type:"solid",
                                        color:"rgb(203 65 65)",
                                        width: 1
                                    },
                                },

                    },
                    {   name:"latencyAvgRead-backend",                       
                        data: {{ vsan_perf['cls_backend_metric']['latencyAvgRead'] | safe }},
                        type: 'line',
                        smooth: true,
                        symbolSize: 6, //设定实心点大小
                        lineStyle: {
                            type:"solid",

                            width: 1

                        }
                    },
                    {   name:"latencyAvgWrite-backend" ,                     
                        data: {{ vsan_perf['cls_backend_metric']['latencyAvgWrite'] | safe }},
                        type: 'line',
                        smooth: true,
                        symbolSize: 6, //设定实心点大小
                        lineStyle: {
                            type:"solid",

                            width: 1

                        },

                    }
                ]
            };
            myChart.setOption(option);                 
        </script>   

        
         <!-- 缓存盘信息:读缓存命中率 -->
        <div class="wedget" id="cache_disk_rcHitRate"></div>
        <script type="text/javascript">           
            // 基于准备好的dom，初始化echarts实例
            var ItemColor='#1FD6C1';
            var myChart = echarts.init(document.getElementById('cache_disk_rcHitRate'));                        
            // 指定图表的配置项和数据
            var option = {
                title: {
                    text: 'Cache Disk:Read Cache Hit Rate',
                    left: 'center'
                },
                // tooltip: {trigger: 'axis'},
        
                xAxis:{
                    type: 'category',
                    name: 'Time',
                    data: {{ vsan_perf.cacheDisk_metric[0].sampleInfo |safe }},
                    axisLabel:{
                        rotate: 45,
                        // interval: 4,
                        fontSize: 10,
                    }
                },
                yAxis:{
                    type:'value',
                    name: '%'
                },
                legend:{
                    left: 'right',
                    top: 20
                },
                series:[
                    {% for host_cache_disk_metric in  vsan_perf.cacheDisk_metric %}
                    {   name:"{{ host_cache_disk_metric.hostname  }}",                     
                        data: {{  host_cache_disk_metric.rcHitRate | safe }},
                        type: 'line',
                        smooth: true,
                        symbolSize: 6, //设定实心点大小
                        lineStyle: {
                            type:"solid",
                            width: 1

                        }
                    },
                    {% endfor %}

                ]
            };
            myChart.setOption(option);                 
        </script> 

        <!-- 缓存盘信息:剩余写缓冲区百分比 -->
        <div class="wedget" id="cache_disk_wbFreePct"></div>
        <script type="text/javascript">           
            // 基于准备好的dom，初始化echarts实例
            var ItemColor='#1FD6C1';
            var myChart = echarts.init(document.getElementById('cache_disk_wbFreePct'));                        
            // 指定图表的配置项和数据
            var option = {
                title: {
                    text: 'Cache Disk:Free of Write Buffer(%)',
                    left: 'center'
                },
                // tooltip: {trigger: 'axis'},
        
                xAxis:{
                    type: 'category',
                    name: 'Time',
                    data: {{ vsan_perf.cacheDisk_metric[0].sampleInfo |safe }},
                    axisLabel:{
                        rotate: 45,
                        // interval: 4,
                        fontSize: 10,
                    }
                },
                yAxis:{
                    type:'value',
                    name: '%'
                },
                legend:{
                    left: 'right',
                    top: 20
                },
                series:[
                    {% for host_cache_disk_metric in  vsan_perf.cacheDisk_metric %}
                    {   name:"{{ host_cache_disk_metric.hostname  }}",                     
                        data: {{  host_cache_disk_metric.wbFreePct | safe }},
                        type: 'line',
                        smooth: true,
                        symbolSize: 6, //设定实心点大小
                        lineStyle: {
                            type:"solid",
                            width: 1

                        }
                    },
                    {% endfor %}

                ]
            };
            myChart.setOption(option);                 
        </script> 


        <!-- 缓存盘信息:读缓存延时 -->
        <div class="wedget" id="cache_disk_latencyRcRead"></div>
        <script type="text/javascript">           
            // 基于准备好的dom，初始化echarts实例
            var ItemColor='#1FD6C1';
            var myChart = echarts.init(document.getElementById('cache_disk_latencyRcRead'));                        
            // 指定图表的配置项和数据
            var option = {
                title: {
                    text: 'Cache Disk: Latency of Reading from Read Cache',
                    left: 'center'
                },
                // tooltip: {trigger: 'axis'},
        
                xAxis:{
                    type: 'category',
                    name: 'Time',
                    data: {{ vsan_perf.cacheDisk_metric[0].sampleInfo |safe }},
                    axisLabel:{
                        rotate: 45,
                        // interval: 4,
                        fontSize: 10,
                    }
                },
                yAxis:{
                    type:'value',
                    name: '微秒'
                },
                legend:{
                    left: 'right',
                    top: 20
                },
                series:[
                    {% for host_cache_disk_metric in  vsan_perf.cacheDisk_metric %}
                    {   name:"{{ host_cache_disk_metric.hostname  }}",                     
                        data: {{  host_cache_disk_metric.latencyRcRead | safe }},
                        type: 'line',
                        smooth: true,
                        symbolSize: 6, //设定实心点大小
                        lineStyle: {
                            type:"solid",
                            width: 1

                        }
                    },
                    {% endfor %}

                ]
            };
            myChart.setOption(option);                 
        </script>

        <!-- 缓存盘信息:写缓冲区的写延时 -->
        <div class="wedget" id="cache_disk_latencyWbWrite"></div>
        <script type="text/javascript">           
            // 基于准备好的dom，初始化echarts实例
            var ItemColor='#1FD6C1';
            var myChart = echarts.init(document.getElementById('cache_disk_latencyWbWrite'));                        
            // 指定图表的配置项和数据
            var option = {
                title: {
                    text: 'Cache Disk: Latency of Writing to Write Buffer',
                    left: 'center'
                },
                // tooltip: {trigger: 'axis'},
        
                xAxis:{
                    type: 'category',
                    name: 'Time',
                    data: {{ vsan_perf.cacheDisk_metric[0].sampleInfo |safe }},
                    axisLabel:{
                        rotate: 45,
                        // interval: 4,
                        fontSize: 10,
                    }
                },
                yAxis:{
                    type:'value',
                    name: '微秒'
                },
                legend:{
                    left: 'right',
                    top: 20
                },
                series:[
                    {% for host_cache_disk_metric in  vsan_perf.cacheDisk_metric %}
                    {   name:"{{ host_cache_disk_metric.hostname  }}",                     
                        data: {{  host_cache_disk_metric.latencyWbWrite | safe }},
                        type: 'line',
                        smooth: true,
                        symbolSize: 6, //设定实心点大小
                        lineStyle: {
                            type:"solid",
                            width: 1

                        }
                    },
                    {% endfor %}

                ]
            };
            myChart.setOption(option);                 
        </script>

        <!-- VSAN内存占用 -->
        <div class="wedget" id="vsan_mem"></div>
        <script type="text/javascript">           
            // 基于准备好的dom，初始化echarts实例
            var ItemColor='#1FD6C1';
            var myChart = echarts.init(document.getElementById('vsan_mem'));                        
            // 指定图表的配置项和数据
            var option = {
                title: {
                    text: 'VSAN Memory Usage',
                    left: 'center'
                },
                // tooltip: {trigger: 'axis'},
        
                xAxis:{
                    type: 'category',
                    name: 'Time',
                    data: {{ vsan_perf.hosts_memory_metric[0].sampleInfo |safe }},
                    axisLabel:{
                        rotate: 45,
                        // interval: 4,
                        fontSize: 10,
                    }
                },
                yAxis:{
                    type:'value',
                    name: 'MB'
                },
                legend:{
                    left: 'right',
                    top: 20
                },
                series:[
                    {% for host_memory_metric in  vsan_perf.hosts_memory_metric %}
                    {   name:"{{ host_memory_metric.hostname  }}",                     
                        data: {{  host_memory_metric.vsanReservedSize | safe }},
                        type: 'line',
                        stack: 'total',
                        smooth: true,
                        symbolSize: 6, //设定实心点大小
                        areaStyle: {},
                        emphasis: {
                                focus: 'series'
                            },
                        lineStyle: {
                            type:"solid",
                            width: 1

                        }
                    },
                    {% endfor %}

                ]
            };
            myChart.setOption(option);                 
        </script>

    </div>
    <h3>VSAN健康检查信息</h3>
    <div class="mid_table_container">
    {% for item in cluster_config['vsan_info'] %}
        {% if item['health_test'] %}
        
            <table class="table2">
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>测试项目</th>
                        <th >描述</th>
                        <th >测试结果</th>
                    </tr>
                </thead>
                <tbody>

                    {% for group_name,tests in health_group_data.items() %}                            
                            <tr class="groupheader" >
                                <td  >
                                    {{ loop.index }}.
                                    {% set group_id=loop.index %}
                                </td>
                                <td   colspan="3">
                                    {{ group_name }}
                                </td>
                            </tr>
                        {% for test in tests %}
                        <tr>
                            <td >{{ group_id }}.{{ loop.index }}</td>
                            <td >{{ test.testName }}</td>
                            <td style="word-wrap: break-word;">{{ test.testShortDescription }}</td>
                            {% if test.testHealth %}
                                {% if test.testHealth=='green' %}
                                    <td ><div class="correct">&#10004; </div></td>
                                {% elif test.testHealth=='red' %}
                                <td ><div class="incorrect">&#10008;</div></td>
                                {% elif test.testHealth=='yellow' %}
                                    <td ><div class="warnning">&#161;</div></td>
                                {% else %}
                                {% endif %}
                                <!-- <td class="narrow" width="10%">{{ test.testHealth }}</td> -->
                            {% else %}
                            <td >Not tested</td>
                            {% endif %}
                            
                        </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        

        {% endif %}
    {% endfor %}
    </div>
{% endif %}




<script type="text/javascript">    
    orgData = JSON.parse('{{ clusterHostMap | tojson }}');  
    var cluster_tree=document.getElementById('cluster_tree')
    cluster_tree.innerHTML=gen_org_tree(orgData)
</script>
<!-- javascript脚本要在endblock之前 -->
{% endblock %}

