{% extends "header.html" %}

{% block body %}
<!-- <link rel="stylesheet" type="text/css" href="print.css" media="print"> -->

    <h1 style="display:flex; background-color: #00a8ff;height: 40px;text-align: center;align-items: center;justify-content: center;opacity:0.6"><font style="color: white;">Cluster Name:{{ cluster['name'] }}</font></h1>
    
    <h2>Hosts Basic Info</h2>
    {% if (cluster['hosts'] | length)>0 %}
        <div class="mid_table_container">
            <table class="table2">
               <tr>
                    <th>ID</th>
                    <th>Hostname</th>
                    <th >ESXi version</th>
                    <th >vendor</th>
                    <th >Model</th>
                    <th >SN</th>
                    <th >Uptime(H)</th>
                </tr> 
                {% for host in cluster['hosts'] %}
                    <tr>
                        <td>{{ loop.index  }}</td>
                        <td>{{ host['name']  }}</td>
                        <td>{{ host['basic_info'][0]['esxi']  }}</td>
                        <td>{{ host['basic_info'][0]['vendor']  }}</td>
                        <td>{{ host['basic_info'][0]['model']  }}</td>
                        <td>{{ host['basic_info'][0]['sn']  }}</td>
                        <td>{{ host['basic_info'][0]['uptime']  }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
    No Hosts belongs to this cluster
    {% endif %}

    <h2>Host CPU& Mem</h2>
    <div class="mid_table_container">
        <table class="table2">
            <tr>
                <th >主机名</th>
                <th >CPU model</th>
                <th >Cores/Threads</th>
                <th >RAM(GB)</th>
                
                <th >CPU Usage（%）</th>
                <th >Memory Usage(%)</th>
                <th >整合比（vCPU/Cores）</th>


            </tr>
        {% for host in cluster['hosts'] %}
            <tr>
                <td>{{ host['name'] }}</td>  
                <td>{{ host['cpu_ram_config'][0]['cpuModel'] }}</td>
                <td>{{ host['cpu_ram_config'][0]['numCpuCores']|string }}/{{ host['cpu_ram_config'][0]['numCpuThreads']|string }}</td>
                <td>{{ host['cpu_ram_config'][0]['ramSize'] }}</td>
                
                <td>
                    
                    <div class="g-progress" progress="{{ (host['cpu_ram_usage'][0]['cpu_usage']|float(default=0.000))*100 }}" style="--progress: {{ (host['cpu_ram_usage'][0]['cpu_usage']|float(default=0.000))*100 }}%">
                        <span>{{ "%2.1f" | format(host['cpu_ram_usage'][0]['cpu_usage']|float(default=0.000)*100 ) }}%</span>
                    </div>
                </td>
                <td>
                    
                    <div class="g-progress" progress="{{ (host['cpu_ram_usage'][0]['ram_usage']|float(default=0.000))*100 }}" style="--progress: {{ (host['cpu_ram_usage'][0]['ram_usage']|float(default=0.000))*100 }}%">
                        <span>{{ "%2.1f" | format(host['cpu_ram_usage'][0]['ram_usage']|float(default=0.000)*100 ) }}%</span>
                    </div>
                </td>
                <td>{{ host['cpu_ram_usage'][0]['consolidate_ratio'] }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>


        <script>
            const elements = document.querySelectorAll('[progress]');

            elements.forEach(element => {
                
            if (parseInt(element.getAttribute('progress')) <= 60) {
                element.style.background = 'linear-gradient(90deg, #26de81, #20bf6b var(--progress), transparent 0)';
            }else if (parseInt(element.getAttribute('progress')) > 90){
                element.style.background = 'linear-gradient(90deg, #fc5c65, #eb3b5a var(--progress), transparent 0)';
            }else{
                element.style.background = 'linear-gradient(90deg, #fed330, #f7b731 var(--progress), transparent 0)';
            }
            });

        </script>

    
    <h2> HA configuration </h2>
    <div class="short_table_container">
        <table class="table2">
            {% if (cluster['ha_config']['enabled']) %}
                <tr>
                    <th>HA Enabled</th>  
                    <td colspan="2"> {{ cluster['ha_config']['enabled'] }} </td>
                </tr>

                <tr>
                    <th>hostMonitoring</th>
                    <td colspan="2">{{ cluster['ha_config']['hostMonitoring'] }} </td>
                </tr>
                <tr>
                    <th>admissionControlEnabled</th>
                    <td colspan="2">{{ cluster['ha_config']['admissionControlEnabled'] }} </td>
                </tr>
                <tr>
                    <th>vmIsolationResponse</th>
                    <td colspan="2">{{ cluster['ha_config']['vmIsolationResponse'] }} </td>
                </tr>
                <tr>
                    <th>heartbeatDatastore</th>
                    
                    <td colspan="2">{{ cluster['ha_config']['heartbeatDatastore'] }} </td>
                </tr>
                {% set advancedSettings=cluster['ha_config']['advancedSettings'] %}
                {% if (advancedSettings | length )>0 %}
                    <tr><th colspan="3">AdvancedSettings</th></tr>
                    {% for item in advancedSettings %}
                        {% for key,value in item.items() %}
            
                            <tr>
                                <td></td>
                                <td>{{ key }}</td>
                                <td>{{ value }} </td>
                            </tr>   
                        {% endfor %}
                    {% endfor %}     
                {% else %}
                <tr>
                    <th>advancedSettings</th>
                    
                    <td colspan="2">[] </td>
                </tr>                            

                {% endif %}                

            {% else %}
                <tr>
                    <th>Enable</th><th>{{ cluster['ha_config']['enabled']  }}</th>
                </tr>
            {% endif %}
            

            
        </table>
    </div>

    <h2>DRS Configuration</h2>
    <div class="short_table_container">
        <table class="table2">
            <tr>
                <th>DRS Enabled</th>
                {% if cluster['drs_config']['vmotionRate']<5 %}
                <td> enabled </td>
                {% else %}
                <td> Disabled </td>
                {% endif %}
            </tr>
            <tr>
                <th>defaultVmBehavior</th>
                <td>{{ cluster['drs_config']['defaultVmBehavior'] }}</td>
            </tr>     
        </table>
    </div>

    <h2>EVC配置信息</h2>
    <div class="short_table_container">
        <table class="table2">
            <tr>
                <th>EVC Enabled</th>
                <td>{{cluster['evc_config']['enabled'] }}</td>
            </tr>
            <tr>
                <th>EVC Mode</th>
                <td>{{cluster['evc_config']['EVCMode'] }}</td>
            </tr>
        </table>
    </div>



    {% if cluster['vsan_enabled'] %}
        <h2>VSAN信息</h2>

        <h3>VSAN硬盘清单</h3>
        <div class="long_table_container">
        {% set cluster_disMapInfo=cluster['vsan_info']['cluster_disMapInfo'] %}
            {% if (cluster_disMapInfo) %}
                <table class="table2">
                    <thead>
                        <tr>
                            <th>canonicalName</th>
                            <th>displayName</th>
                            <th>diskType</th>
                            <th>model</th>
                            <th>serialNumber</th>
                            <th>operationalState</th>
                            <th>capacity(GB)</th>
                            <th>physicalLocation</th>
                            <th>formatVersion</th>
                        </tr>
                    </thead>
                {% for host in cluster_disMapInfo %}
                    <tbody>
                        <tr class="groupheader" >
                            <td colspan="9">hostname: {{ host['hostname'] }}</td>
                            
                        </tr>  
                        {% for disk in host['hostDiskMapInfo'] %} 
                            {% if (disk['ssdMapInfo'] | length) >0 %}
                                {% for ssd_disk in disk['ssdMapInfo'] %}
                                    <tr>
                                        <td>{{ ssd_disk['canonicalName'] }}</td>
                                        <td>{{ ssd_disk['displayName'] }}</td>
                                        <td>SSD</td>
                                        <td>{{ ssd_disk['model'] }}</td>
                                        <td>{{ ssd_disk['serialNumber'] }}</td>
                                        
                                        {% if (ssd_disk['operationalState']=='ok') %}
                                            <td><img src='{{ url_for('static',filename='image/hook16.png') }}'></td>
                                        {% else %}
                                            <td><img src='{{ url_for('static',filename='image/error16.png') }}'></td>
                                        {% endif %}
                                        <td>{{ ssd_disk['capacity'] }}</td>
                                        <td>{{ ssd_disk['physicalLocation'] }}</td>
                                        <td>{{ ssd_disk['formatVersion'] }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            {% if (disk['noSsdMapinfo'] | length) >0 %}
                                {% for nossd_disk in disk['noSsdMapinfo'] %}
                                    <tr>
                                        <td>{{ nossd_disk['canonicalName'] }}</td>
                                        <td>{{ nossd_disk['displayName'] }}</td>
                                        <td>HDD</td>
                                        <td>{{ nossd_disk['model'] }}</td>
                                        <td>{{ nossd_disk['serialNumber'] }}</td>
                                        
                                        {% if (nossd_disk['operationalState']=='ok') %}
                                            <td><img src='{{ url_for('static',filename='image/hook16.png') }}'></td>
                                        {% else %}
                                            <td><img src='{{ url_for('static',filename='image/error16.png') }}'></td>
                                        {% endif %}
                                        <td>{{ nossd_disk['capacity'] }}</td>
                                        <td>{{ nossd_disk['physicalLocation'] }}</td>
                                        <td>{{ nossd_disk['formatVersion'] }}</td>
                                    </tr>
                    </tbody>
                                {% endfor %}
                            {% endif %}
                    {% endfor %}
                {% endfor %}
                </table>
            {% endif %}
        </div>


        <h3>VSAN性能指标</h3>
        <div class="dashboard">
            <div class="wedget" id="cls_frontend_metric_iops"></div>
            <script type="text/javascript">           
                // 基于准备好的dom，初始化echarts实例
                var ItemColor='#1FD6C1';
                var chart_container=document.getElementById('cls_frontend_metric_iops');
                // chart_container.width
                var myChart = echarts.init(chart_container,'',{width:chart_container.clientWidth,}); 
                // #根据窗口调整大小
                // window.addEventListener('resize', function() {
                //     myChart.resize();
                // });
                    
                var option = {
                title: {
                    text: 'IOPS',
                    left: 'center'
                },
                // tooltip: {trigger: 'axis'},
        

                xAxis:{
                    type: 'category',
                    name: 'Time',
                    data: {{ cluster.vsan_info.vsan_perf.cls_frontend_metric.sampleInfo |safe }},
                    axisLabel:{
                        rotate: 45,
                        // interval: 4,
                        fontSize: 10,
                    }
                },
                yAxis:{
                    type:'value',
                    name: ''
                },
                legend:{
                    left: 'right',
                    top: 20
                },
                series:[
                    {   name:"Read-Frontend",                       
                        data: {{ cluster.vsan_info.vsan_perf.cls_frontend_metric.iopsRead | safe }},
                        type: 'line',
                        smooth: true,
                        symbolSize: 6, //设定实心点大小
                        lineStyle: {
                            type:"solid",
                            width: 1

                        }
                    },
                    {   name:"Write-Frontend" ,                    
                        data: {{ cluster.vsan_info.vsan_perf.cls_frontend_metric.iopsWrite | safe }},
                        type: 'line',
                        smooth: true,
                        symbolSize: 6, //设定实心点大小
                        lineStyle: {
                            type:"solid",
                            width: 1

                        }

                    },
                    {   name:"Read-backend",                    
                        data: {{ cluster.vsan_info.vsan_perf.cls_backend_metric.iopsRead | safe }},
                        type: 'line',
                        smooth: true,
                        symbolSize: 6, //设定实心点大小
                        lineStyle: {
                            type:"solid",
                            width: 1

                        }
                    },
                    {   name:"Write-backend" ,                    
                        data: {{ cluster.vsan_info.vsan_perf.cls_backend_metric.iopsWrite | safe }},
                        type: 'line',
                        smooth: true,
                        symbolSize: 6, //设定实心点大小
                        lineStyle: {
                            type:"solid",
                            width: 1

                        }

                    }
                ]
                };
                myChart.setOption(option);   
            
                // 指定图表的配置项和数据
                
            </script> 

            <!-- 吞吐量    -->
            <div class="wedget" id="cls_frontend_metric_throughput"></div>
            <script type="text/javascript">           
                // 基于准备好的dom，初始化echarts实例
                var ItemColor='#1FD6C1';
                var myChart = echarts.init(document.getElementById('cls_frontend_metric_throughput'));                        
                // 指定图表的配置项和数据
                var sampleInfo=Array({{ cluster.vsan_info.vsan_perf.cls_frontend_metric.sampleInfo |safe }}.length);

                var option = {
                    title: {
                        text: 'Throughput',
                        left: 'center'
                    },
                    // tooltip: {trigger: 'axis'},
            
                    xAxis:{
                        type: 'category',
                        name: 'Time',
                        data: {{ cluster.vsan_info.vsan_perf.cls_frontend_metric.sampleInfo | safe }},
                        axisLabel:{
                            rotate: 45,
                            // interval: 4,
                            fontSize: 10,
                        }
                    },
                    yAxis:{
                        type:'value',
                        name: 'Bps'
                    },
                    legend:{
                        left: 'right',
                        top: 20
                    },
                    series:[
                        {   name:"throughputRead-Front",                     
                            data: {{ cluster.vsan_info.vsan_perf.cls_frontend_metric.throughputRead | safe }},
                            type: 'line',
                            smooth: true,
                            symbolSize: 6, //设定实心点大小
                            lineStyle: {
                                type:"solid",
                                width: 1

                            }
                        },
                        {   name:"throughputWrite-Front" ,                    
                            data: {{ cluster.vsan_info.vsan_perf.cls_frontend_metric.throughputWrite | safe }},
                            type: 'line',
                            smooth: true,
                            symbolSize: 6, //设定实心点大小
                            lineStyle: {
                                type:"solid",
                                width: 1

                            },

                        },
                        {   name:"throughputRead-Backend",                    
                            data: {{ cluster.vsan_info.vsan_perf.cls_backend_metric.throughputRead | safe }},
                            type: 'line',
                            smooth: true,
                            symbolSize: 6, //设定实心点大小
                            lineStyle: {
                                type:"solid",
                                width: 1

                            }
                        },
                        {   name:"throughputWrite-Backend" ,                   
                            data: {{ cluster.vsan_info.vsan_perf.cls_backend_metric.throughputWrite | safe }},
                            type: 'line',
                            smooth: true,
                            symbolSize: 6, //设定实心点大小
                            lineStyle: {
                                type:"solid",
                                width: 1

                            },

                        }
                    ]
                };
                myChart.setOption(option);                 
            </script>  


            <!-- 延迟 -->
            <div class="wedget" id="cls_frontend_metric_latency"></div>
            <script type="text/javascript">           
                // 基于准备好的dom，初始化echarts实例
                var ItemColor='#1FD6C1';
                var myChart = echarts.init(document.getElementById('cls_frontend_metric_latency'));                        
                // 指定图表的配置项和数据
                var option = {
                    title: {
                        text: 'Latency',
                        left: 'center'
                    },
                    // tooltip: {trigger: 'axis'},
            
                    xAxis:{
                        type: 'category',
                        name: 'Time',
                        data: {{ cluster.vsan_info.vsan_perf.cls_frontend_metric.sampleInfo |safe }},
                        axisLabel:{
                            rotate: 45,
                            // interval: 4,
                            fontSize: 10,
                        }
                    },
                    yAxis:{
                        type:'value',
                        name: '微秒'
                    },
                    legend:{
                        left: 'right',
                        top: 20
                    },
                    series:[
                        {   name:"latencyAvgRead",                     
                            data: {{  cluster.vsan_info.vsan_perf.cls_frontend_metric.latencyAvgRead | safe }},
                            type: 'line',
                            smooth: true,
                            symbolSize: 6, //设定实心点大小
                            lineStyle: {
                                type:"solid",
                                width: 1

                            }
                        },
                        {   name:"latencyAvgWrite" ,                     
                            data: {{ cluster.vsan_info.vsan_perf.cls_frontend_metric.latencyAvgWrite | safe }},
                            type: 'line',
                            smooth: true,
                            symbolSize: 6, //设定实心点大小
                            lineStyle: {
                                type:"solid",
                                width: 1

                            },
                            markLine: { 
                                        Symbol: 'none',
                                        data: [
                                            {  
                                                name: '阈值', 
                                                yAxis: 20000
                                            }
                                        ],
                                        lineStyle: {
                                            type:"solid",
                                            color:"rgb(203 65 65)",
                                            width: 1
                                        },
                                    },

                        },
                        {   name:"latencyAvgRead-backend",                       
                            data: {{ cluster.vsan_info.vsan_perf.cls_backend_metric.latencyAvgRead | safe }},
                            type: 'line',
                            smooth: true,
                            symbolSize: 6, //设定实心点大小
                            lineStyle: {
                                type:"solid",

                                width: 1

                            }
                        },
                        {   name:"latencyAvgWrite-backend" ,                     
                            data: {{ cluster.vsan_info.vsan_perf.cls_backend_metric.latencyAvgWrite | safe }},
                            type: 'line',
                            smooth: true,
                            symbolSize: 6, //设定实心点大小
                            lineStyle: {
                                type:"solid",

                                width: 1

                            },

                        }
                    ]
                };
                myChart.setOption(option);                 
            </script>   

            
            <!-- 缓存盘信息:读缓存命中率 -->
            <div class="wedget" id="cache_disk_rcHitRate"></div>
            <script type="text/javascript">           
                // 基于准备好的dom，初始化echarts实例
                var ItemColor='#1FD6C1';
                var myChart = echarts.init(document.getElementById('cache_disk_rcHitRate'));                        
                // 指定图表的配置项和数据
                var option = {
                    title: {
                        text: 'Cache Disk:Read Cache Hit Rate',
                        left: 'center'
                    },
                    // tooltip: {trigger: 'axis'},
            
                    xAxis:{
                        type: 'category',
                        name: 'Time',
                        data: {{ cluster.vsan_info.vsan_perf.cacheDisk_metric[0].sampleInfo |safe }},
                        axisLabel:{
                            rotate: 45,
                            // interval: 4,
                            fontSize: 10,
                        }
                    },
                    yAxis:{
                        type:'value',
                        name: '%'
                    },
                    legend:{
                        left: 'right',
                        top: 20
                    },
                    series:[
                        {% for host_cache_disk_metric in  cluster.vsan_info.vsan_perf.cacheDisk_metric %}
                        {   name:"{{ host_cache_disk_metric.hostname  }}",                     
                            data: {{  host_cache_disk_metric.rcHitRate | safe }},
                            type: 'line',
                            smooth: true,
                            symbolSize: 6, //设定实心点大小
                            lineStyle: {
                                type:"solid",
                                width: 1

                            }
                        },
                        {% endfor %}

                    ]
                };
                myChart.setOption(option);                 
            </script> 

            <!-- 缓存盘信息:剩余写缓冲区百分比 -->
            <div class="wedget" id="cache_disk_wbFreePct"></div>
            <script type="text/javascript">           
                // 基于准备好的dom，初始化echarts实例
                var ItemColor='#1FD6C1';
                var myChart = echarts.init(document.getElementById('cache_disk_wbFreePct'));                        
                // 指定图表的配置项和数据
                var option = {
                    title: {
                        text: 'Cache Disk:Free of Write Buffer(%)',
                        left: 'center'
                    },
                    // tooltip: {trigger: 'axis'},
            
                    xAxis:{
                        type: 'category',
                        name: 'Time',
                        data: {{ cluster.vsan_info.vsan_perf.cacheDisk_metric[0].sampleInfo |safe }},
                        axisLabel:{
                            rotate: 45,
                            // interval: 4,
                            fontSize: 10,
                        }
                    },
                    yAxis:{
                        type:'value',
                        name: '%'
                    },
                    legend:{
                        left: 'right',
                        top: 20
                    },
                    series:[
                        {% for host_cache_disk_metric in  cluster.vsan_info.vsan_perf.cacheDisk_metric %}
                        {   name:"{{ host_cache_disk_metric.hostname  }}",                     
                            data: {{  host_cache_disk_metric.wbFreePct | safe }},
                            type: 'line',
                            smooth: true,
                            symbolSize: 6, //设定实心点大小
                            lineStyle: {
                                type:"solid",
                                width: 1

                            }
                        },
                        {% endfor %}

                    ]
                };
                myChart.setOption(option);                 
            </script> 


            <!-- 缓存盘信息:读缓存延时 -->
            <div class="wedget" id="cache_disk_latencyRcRead"></div>
            <script type="text/javascript">           
                // 基于准备好的dom，初始化echarts实例
                var ItemColor='#1FD6C1';
                var myChart = echarts.init(document.getElementById('cache_disk_latencyRcRead'));                        
                // 指定图表的配置项和数据
                var option = {
                    title: {
                        text: 'Cache Disk: Latency of Reading from Read Cache',
                        left: 'center'
                    },
                    // tooltip: {trigger: 'axis'},
            
                    xAxis:{
                        type: 'category',
                        name: 'Time',
                        data: {{ cluster.vsan_info.vsan_perf.cacheDisk_metric[0].sampleInfo |safe }},
                        axisLabel:{
                            rotate: 45,
                            // interval: 4,
                            fontSize: 10,
                        }
                    },
                    yAxis:{
                        type:'value',
                        name: '微秒'
                    },
                    legend:{
                        left: 'right',
                        top: 20
                    },
                    series:[
                        {% for host_cache_disk_metric in  cluster.vsan_info.vsan_perf.cacheDisk_metric %}
                        {   name:"{{ host_cache_disk_metric.hostname  }}",                     
                            data: {{  host_cache_disk_metric.latencyRcRead | safe }},
                            type: 'line',
                            smooth: true,
                            symbolSize: 6, //设定实心点大小
                            lineStyle: {
                                type:"solid",
                                width: 1

                            }
                        },
                        {% endfor %}

                    ]
                };
                myChart.setOption(option);                 
            </script>

            <!-- 缓存盘信息:写缓冲区的写延时 -->
            <div class="wedget" id="cache_disk_latencyWbWrite"></div>
            <script type="text/javascript">           
                // 基于准备好的dom，初始化echarts实例
                var ItemColor='#1FD6C1';
                var myChart = echarts.init(document.getElementById('cache_disk_latencyWbWrite'));                        
                // 指定图表的配置项和数据
                var option = {
                    title: {
                        text: 'Cache Disk: Latency of Writing to Write Buffer',
                        left: 'center'
                    },
                    // tooltip: {trigger: 'axis'},
            
                    xAxis:{
                        type: 'category',
                        name: 'Time',
                        data: {{ cluster.vsan_info.vsan_perf.cacheDisk_metric[0].sampleInfo |safe }},
                        axisLabel:{
                            rotate: 45,
                            // interval: 4,
                            fontSize: 10,
                        }
                    },
                    yAxis:{
                        type:'value',
                        name: '微秒'
                    },
                    legend:{
                        left: 'right',
                        top: 20
                    },
                    series:[
                        {% for host_cache_disk_metric in  cluster.vsan_info.vsan_perf.cacheDisk_metric %}
                        {   name:"{{ host_cache_disk_metric.hostname  }}",                     
                            data: {{  host_cache_disk_metric.latencyWbWrite | safe }},
                            type: 'line',
                            smooth: true,
                            symbolSize: 6, //设定实心点大小
                            lineStyle: {
                                type:"solid",
                                width: 1

                            }
                        },
                        {% endfor %}

                    ]
                };
                myChart.setOption(option);                 
            </script>

            <!-- VSAN内存占用 -->
            <div class="wedget" id="vsan_mem"></div>
            <script type="text/javascript">           
                // 基于准备好的dom，初始化echarts实例
                var ItemColor='#1FD6C1';
                var myChart = echarts.init(document.getElementById('vsan_mem'));                        
                // 指定图表的配置项和数据
                var option = {
                    title: {
                        text: 'VSAN Memory Usage',
                        left: 'center'
                    },
                    // tooltip: {trigger: 'axis'},
            
                    xAxis:{
                        type: 'category',
                        name: 'Time',
                        data: {{ cluster.vsan_info.vsan_perf.hosts_memory_metric[0].sampleInfo |safe }},
                        axisLabel:{
                            rotate: 45,
                            // interval: 4,
                            fontSize: 10,
                        }
                    },
                    yAxis:{
                        type:'value',
                        name: 'MB'
                    },
                    legend:{
                        left: 'right',
                        top: 20
                    },
                    series:[
                        {% for host_memory_metric in  cluster.vsan_info.vsan_perf.hosts_memory_metric %}
                        {   name:"{{ host_memory_metric.hostname  }}",                     
                            data: {{  host_memory_metric.vsanReservedSize | safe }},
                            type: 'line',
                            stack: 'total',
                            smooth: true,
                            symbolSize: 6, //设定实心点大小
                            areaStyle: {},
                            emphasis: {
                                    focus: 'series'
                                },
                            lineStyle: {
                                type:"solid",
                                width: 1

                            }
                        },
                        {% endfor %}

                    ]
                };
                myChart.setOption(option);                 
            </script>

        </div>


        <h3>VSAN健康检查信息</h3>
        <div class="long_table_container">
        {% set health_tests=cluster['vsan_info']['health_test'] %}
            {% if health_tests %}

            
                <table class="table2">
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>测试项目</th>
                            <th >描述</th>
                            <th >测试结果</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- 利用namespace功能实现变量的值变化 -->
                        {% set groupId=namespace(value=0) %}
                        {% set groupname=namespace(value="") %} 
                        {% set testID=namespace(value=0) %}
                        {% for test in health_tests  %} 
                            
                            {% if not (test['groupName']==groupname.value)%}  
                                {% set testID.value=1 %}
                                {% set  groupId.value=groupId.value+1 %}
                                {% set groupname.value=test['groupName'] %} 
                                

                                <tr class="groupheader" >
                                    <td  >
                                        {{ groupId.value }}
                                    </td>
                                    <td   colspan="3">
                                        {{ test['groupName'] }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ groupId.value }}.{{ testID.value }}</td>
                                    <td >{{ test.testName }}</td>
                                    <td style="word-wrap: break-word;">{{ test.testShortDescription }}</td>
                                    {% if test.testHealth %}
                                        {% if test.testHealth=='green' %}
                                            <td ><img src='{{ url_for('static',filename='image/hook16.png') }}'></td>
                                        {% elif test.testHealth=='red' %}
                                            <td ><img src='{{ url_for('static',filename='image/error16.png') }}'></td>
                                        {% elif test.testHealth=='yellow' %}
                                            <td ><img src='{{ url_for('static',filename='image/warn16.png') }}'></td>
                                        {% else %}
                                        {% endif %}
                                        <!-- <td class="narrow" width="10%">{{ test.testHealth }}</td> -->
                                    {% else %}
                                        <td >Not tested</td>
                                    {% endif %}
                                </tr>
                            {% else %}
                                <tr>
                                    <td>{{ groupId.value }}.{{ testID.value }}</td>
                                    {% set testID.value=testID.value+1 %}
                                    <td >{{ test.testName }}</td>
                                    <td style="word-wrap: break-word;">{{ test.testShortDescription }}</td>
                                    {% if test.testHealth %}
                                        {% if test.testHealth=='green' %}
                                            <td ><img src='{{ url_for('static',filename='image/hook16.png') }}'></td>
                                        {% elif test.testHealth=='red' %}
                                        <td ><img src='{{ url_for('static',filename='image/error16.png') }}'></td>
                                        {% elif test.testHealth=='yellow' %}
                                            <td ><img src='{{ url_for('static',filename='image/warn16.png') }}'></td>
                                        {% else %}
                                        {% endif %}
                                        <!-- <td class="narrow" width="10%">{{ test.testHealth }}</td> -->
                                    {% else %}
                                        <td >Not tested</td>
                                    {% endif %}
                                </tr>                                
                            {% endif %}

                        {% endfor %}
                    </tbody>
                </table>
            

            {% endif %}

        </div>
    {% endif %}






{% endblock %}

