{% extends "header.html" %}

{% block body %}
<!-- <link rel="stylesheet" type="text/css" href="print.css" media="print"> -->
<h1 style="display:flex; background-color: #00a8ff;height: 40px;text-align: center;align-items: center;justify-content: center;opacity:0.6"><font style="color: white;">Datacenter Name:{{ dc_data['name'] | safe }}</font></h1>
<h2>Cluster(s)|Host(s)|VM(s)</h2>
<div class="dc_tree" id="dc_tree" style="height: 1024px"></div>

<script type="text/javascript">
    var dom = document.getElementById('dc_tree');
    var myChart = echarts.init(dom, null, {
      renderer: 'canvas',
      useDirtyRect: false
    });

    var option;

    myChart.setOption(
        (option = {
        tooltip: {
            trigger: 'item',
            triggerOn: 'mousemove'
        },
        
        series: [
            {
            // layout:'radial',
            type: 'tree',
            data: {{ dc_tree | safe }},
            top: '1%',
            left: '5%',
            bottom: '1%',
            right: '20%',
            // symbol: 'triangle',
            symbolSize: 15,
            label: {
                position: 'left',
                verticalAlign: 'middle',
                align: 'right',
                fontSize: 12,
                fontFamily:'Microsoft YaHei',
                fontWeight:'bold'
            },
            leaves: {
                label: {
                position: 'right',
                verticalAlign: 'middle',
                align: 'left'
                }
            },
            emphasis: {
                focus: 'descendant'
            },
            expandAndCollapse: true,
            animationDuration: 550,
            animationDurationUpdate: 750
            }
        ]
        })
    );



    if (option && typeof option === 'object') {
    myChart.setOption(option);
    }

    myChart.on('click',function(params){
        console.log(params.data.path);
        var path=params.data.path;
        var ids=path.split('-');

        // 点击在label，不是在图标上
        if (params.event.target.culling===false){ 
            if (ids.length>4){
                top.location.href=`/inventory?vm_name=${params.data.name}`;
            }else{
                top.location.href=`/inventory?id=${params.data.path}`;
            }
            
        }
        
    });

    window.addEventListener('resize', myChart.resize);
  </script>
<h2>Networks</h2>
<h2>Datastores</h2>

<!-- javascript脚本要在endblock之前 -->
{% endblock %}

