{% extends "header.html" %}
{% block body %}


<!-- <script>
    includenav();
</script> -->

    <div class="table-container">
    <h1>Hostname:{{ host_data['name'] }}</h1>
    <h2>ESXi主机基本信息</h2>
    <div class="mid_table_container">
        <table class="table2">
            <tr>
                
                <th scope="col">ESXi Version</th>
                <th scope="col">vendor</th>
                <th scope="col">Model</th>
                <th scope="col">SN</th>
                <th scope="col">Uptime(H)</th>

            </tr>    
            <tr>        
                <td>{{ host_data['basic_info'][0]['esxi'] }}</td>
                <td>{{ host_data['basic_info'][0]['vendor'] }}</td>
                <td>{{ host_data['basic_info'][0]['model'] }}</td>
                <td>{{ host_data['basic_info'][0]['sn'] }}</td>
                <td>{{ host_data['basic_info'][0]['uptime'] }}</td>
            </tr>
            
        </table>
    </div>    
        <h2>BIOS信息</h2>
        <div class="mid_table_container">
        <table class="table2">
            <tr>
                
                <th scope="col">BIOS Version</th>
                <th scope="col">Release Date</th>
                <th scope="col">firmwareMajorRelease</th>
                <th scope="col">firmwareMinorRelease</th>
            </tr>
            <tr>
                
                <td>{{ host_data['bios_info'][0]['biosVersion'] }}</td>
                <td>{{ host_data['bios_info'][0]['releaseDate'] }}</td>
                <td>{{ host_data['bios_info'][0]['firmwareMajorRelease'] }}</td>
                <td>{{ host_data['bios_info'][0]['firmwareMinorRelease'] }}</td>
                
            </tr>
        </table>
        </div>
        <h2>CPU和内存</h2>
        <details class="details-1" open>
        <summary>CPU&Memory</summary>
        <ul>
            <li>物理配置    </li>
            <div class="mid_table_container">
            <table class="table2">
                <tr>
                    
                    <th scope="col">CPU model</th>
                    <th scope="col">Frequency(Mhz)</th>
                    <th scope="col">Cores/Threads</th>
                    <th scope="col">RAM(GB)</th>


                </tr>

                <tr>
                    
                    <td>{{ host_data['cpu_ram_config'][0]['cpuModel'] }}</td>
                    <td>{{ host_data['cpu_ram_config'][0]['cpuMhz'] }}</td>
                    <td>{{ host_data['cpu_ram_config'][0]['numCpuCores']|string }}/{{ host_data['cpu_ram_config'][0]['numCpuThreads']|string }}</td>
                    <td>{{ host_data['cpu_ram_config'][0]['ramSize'] }}</td>
                </tr>

            </table>
            </div>
            <li>使用率（Usage） </li>
            <div class="mid_table_container">
            <table class="table2">
                <tr>
                    <th scope="col">整合比（vCPU/Cores）</th>
                    <th scope="col">CPU Usage（%）</th>
                    <th scope="col">Memory Usage(%)</th>
                </tr>

                <tr>

                    <td>{{ host_data['cpu_ram_usage'][0]['consolidate_ratio'] }}</td>
                    <td>
                        
                        <div class="g-progress" progress="{{ (host_data['cpu_ram_usage'][0]['cpu_usage']|float(default=0.000))*100 }}" id="cpu_usage_bar" style="--progress: {{ (host_data['cpu_ram_usage'][0]['cpu_usage']|float(default=0.000))*100 }}%"
                            <span>{{ "%2.1f" | format((host_data['cpu_ram_usage'][0]['cpu_usage']|float(default=0.000))*100 ) }}%  </span>
                                </div>
                    </td>
                    <td>
                        
                        <div class="g-progress" progress="{{ (host_data['cpu_ram_usage'][0]['ram_usage']|float(default=0.000))*100 }}" id="ram_usage_bar" style="--progress: {{ (host_data['cpu_ram_usage'][0]['ram_usage']|float(default=0.000))*100 }}%">
                            <span>{{ "%2.1f" | format( host_data['cpu_ram_usage'][0]['ram_usage']|float(default=0.000)*100 ) }}% </span>
                                </div>
                    </td>
                </tr>
                <script>
                    const elements = document.querySelectorAll('[progress]');

                    elements.forEach(element => {
                        
                    if (parseInt(element.getAttribute('progress')) <= 60) {
                        element.style.background = 'linear-gradient(90deg, #26de81, #20bf6b var(--progress), transparent 0)';
                    }else if (parseInt(element.getAttribute('progress')) > 90){
                        element.style.background = 'linear-gradient(90deg, #fc5c65, #eb3b5a var(--progress), transparent 0)';
                    }else{
                        element.style.background = 'linear-gradient(90deg, #fed330, #f7b731 var(--progress), transparent 0)';
                    }
                    });

                </script>

            </table>
            </div>
        </ul>
        </details>
        <details class="details-1" open>
        <summary>存储（Storage）</summary>
        <ul>
            <li>数据存储（DataStore）</li>
            <div class="mid_table_container">
            <table class="table2">
                <tr>
                    <th scope="col">数据存储名称</th>
                    <th scope="col">总空间（GB）</th>
                    <th scope="col">剩余空间（GB）</th>
                    <th scope="col">类型</th>
                    <th scope="col">多主机共享</th>
                </tr>
                {% for sub_host_data in host_data['datastores'] %}
                <tr>
                    <td>{{ sub_host_data['datatore name'] }}</td>
                    <td>{{ sub_host_data['capacity'] }}</td>
                    <td>{{ sub_host_data['free space'] }}</td>        
                    <td>{{ sub_host_data['type'] }}</td>
                    <td>{{ sub_host_data['multipleHostAccess'] }}</td>
                    
                </tr>
                {% endfor %}
            </table>
            </div>

            <li>存储适配器（HBAs）</li>
            <div class="mid_table_container">
            <table class="table2">
                <tr>
                    <th scope="col">HBA Name</th>
                    <th scope="col">Model</th>
                    <th scope="col">Driver</th>
                    <th scope="col">Protocol</th>
                </tr>
                {% for sub_host_data in host_data['hbas'] %}
                <tr>
                    <td>{{ sub_host_data['name'] }}</td>
                    <td>{{ sub_host_data['model'] }}</td>
                    <td>{{ sub_host_data['driver'] }}</td>
                    <td>{{ sub_host_data['protocol'] }}</td>
                </tr>
                {% endfor %}
            </table>
            </div>
            <li>多路径（Multipath）</li>
            <div class="short_table_container">
            <table class="table2">
                <tr>
                    <th scope="col">Path name</th>
                    <th scope="col">Path State</th>
                </tr>
                {% for sub_host_data in host_data['multipaths'] %}
                <tr>
                    <td>{{ sub_host_data['path name']}}</td>
                    <td>{{ sub_host_data['path state']}}</td>

                </tr>
                {% endfor %}
            </table>
            </div>

            <li>LUN</li>
            <div class="mid_table_container">
            <table class="table2">
                <tr>
                    <th scope="col">displayName</th>
                    <th scope="col">lunType</th>
                    <th scope="col">model</th>
                </tr>
                {% for sub_host_data in host_data['scsi_lun'] %}
                <tr>
                    <td>{{ sub_host_data['displayName']}}</td>
                    <td>{{ sub_host_data['lunType']}}</td>
                    <td>{{ sub_host_data['model']}}</td>

                </tr>
                {% endfor %}
            </table>
            </div>
        </ul>
        </details>
        <details class="details-1" open>
        <summary>网络（Network）</summary>
        <ul>
            <li>虚拟交换机(vSwitch)</li>
            <div class="mid_table_container">
            <table class="table2">
                <tr>
                    <th scope="col">交换机名</th>
                    <th scope="col">MTU</th>
                    <th scope="col">连接物理网卡</th>
                    <th scope="col">包含端口组</th>
                </tr>
                {% for sub_host_data in host_data['vswitches'] %}
                <tr>
                    <td>{{ sub_host_data['name'] }}</td>
                    <td>{{ sub_host_data['mtu'] }}</td>
                    <td>{{ sub_host_data['pnics'] }}</td>                   
                    <td>{{ sub_host_data['portgroups'] }}</td>
                </tr>
                {% endfor %}
            </table>
            </div>
            <li>物理网卡（PNIC）</li>
            <div class="mid_table_container">
            <table class="table2">
                <tr>
                    <th scope="col">网卡名称</th>
                    <th scope="col">Driver</th>
                    <th scope="col">Speed(Mbps)</th>
                    <th scope="col">duplex</th>
                    <th scope="col">mac</th>
                    <th scope="col">AutoNeg</th>
                </tr>
                {% for sub_host_data in host_data['pnics'] %}
                <tr>
                    <td>{{ sub_host_data['name'] }}</td>                    
                    <td>{{ sub_host_data['driver'] }}</td>
                    <td>{{ sub_host_data['speedMb'] }}</td>
                    <td>{{ sub_host_data['duplex'] }}</td>
                    <td>{{ sub_host_data['mac'] }}</td>
                    <td>{{ sub_host_data['autoNego'] }}</td>
                </tr>
                {% endfor %}
            </table>
            </div>
            <li>虚拟网卡（VNIC）</li>
            <div class="mid_table_container">
            <table class="table2">
                <tr>
                    <th scope="col">虚拟网卡名称</th>
                    <th scope="col">IP Addr</th>
                    <th scope="col">Mask</th>
                    <th scope="col">MAC</th>
                    <th scope="col">MTU</th>
                </tr>
                {% for sub_host_data in host_data['vnics'] %}
                <tr>

                    <td>{{ sub_host_data['device'] }}</td>
                    <td>{{ sub_host_data['ipAddress'] }}</td>
                    <td>{{ sub_host_data['subnetMask'] }}</td>
                    <td>{{ sub_host_data['mac'] }}</td>
                    <td>{{ sub_host_data['mtu'] }}</td>
                </tr>
                {% endfor %}
            </table>
            </div>
        </ul>
        </details>
        <details class="details-1" open>
        <summary>其他（Miscellaneous）</summary>
        <ul>
            <li>时间（DataTime）</li>
            <div class="mid_table_container">
            <table class="table2">
                <tr>
                    <th scope="col">时间同步启用</th>
                    <th scope="col">时间服务器</th>
                    <th scope="col">时区</th>
                    <th scope="col">时间偏差（s）</th>

                </tr>
                <tr>

                    <td>{{ host_data['datetime_info']['enabled'] }}</td>
                    <td>{{ host_data['datetime_info']['ntpServer'][0] }}</td>
                    <td>{{ host_data['timezone'] }}</td>
                    <td>{{ host_data['deviation'] }}</td>
                </tr>
            </table>
            </div>
            <li>证书（Certificate）</li>
            <div class="long_table_container">
            <table class="table2">
                <tr>
                    
                    <th scope="col">签发时间（Sign Date）</th>
                    <th scope="col">过期时间（Expired Date）</th>
                    <th scope="col">主题(Subject)</th>

                </tr>
                <tr>

                    <td>{{ host_data['certificate']['sign_date'] }}</td>
                    <td>{{ host_data['certificate']['expired_date'] }}</td>
                    <td>{{ host_data['certificate']['subject'] }}</td>
                </tr>
            </table>
            </div>
        </ul>
        </details>
        <h2>虚拟机信息</h2>
        <div class="vmlist">
            
        {% for vm in host_data['vm_list'] %}
        
        <div class="vm_container">
            {% if vm['Powerstate']=='poweredOn' %}
                <div class="onButton"> </div> <div class="vm_name"> <a href="?vm_name={{ vm['name'] }}">{{ vm['name'] }}</a></div>
           {% else %}
                <div class="offButton"> </div> <div class="vm_name"><a href="?vm_name={{ vm['name'] }}">{{ vm['name'] }}</a></div>
           {% endif %}
        </div>

        {% endfor %}
    </div>
    </div>

{% endblock %}