<!doctype html>
<html>
    <meta>
    <head>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='main.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='print.css') }}" media="print">
        <style >



            tr {
                height: 30px;
            }
            input{
                height: 25px;
            }
            #add_host_form input{
                width: 120px;
            }

            #buttons {
                width: 40%;
                display: flex;
                justify-content:start;
                margin-top: 10px;
            }
            #add_host_buttn,#del_host_buttn {
                
                border-radius: 5px;
                height: 1.5em;
                width: 70px;
                border: solid 1px #ccc;
                margin-left: 10px;
                text-align: center;
                background-color: #ccc;                
                
            }

            #submit_buttn {
                
                border-radius: 5px;
                height: 2em;
                line-height: 2em;
                width: 100px;
                border: solid 1px #ccc;
                /* margin-left: 100px; */
                text-align: center;
                background-color: dodgerblue;
                color: white;
                

                
            }

            #add_host_buttn:hover, #del_host_buttn:hover, #submit_buttn:hover{
                background-color:darkgrey;
                
            }
            .input_col {
                width:30%;
            }
            .input_col:focus {
                outline: none !important;
                border:1px solid  beige;
                box-shadow: 0 0 10px #719ECE;
            }
            .no_col {
                width:5%;
            }
            .select_col {
                width:10%;
                
            }
            #div_add_ipmiHosts,#div_add_vcsa_root_cred{
                display: none;
            }



        </style>

    
    </head>
    <body>
        

        <div id="main_frame">    
            <div class="title">
                <div class="img"><img src="{{ url_for('static',filename='image/川流信息LOGO.png') }}"></div>
                <div class="tools_title"><span>vSphere Health Checker v{{ release  }}</span></div>
            </div>
            <div id="note">
                <p class="notetitle">Note:</p>
                <p class="normaltext">为了能够收集服务器硬件和vSphere环境的信息，将需要登录凭据，所有的凭据将不会被程序保存！</p>
                <ul>目前仅支持收集如下品牌服务器硬件信息：
                    <li>Dell PowerEdge（IDRAC 8）</li>
                </ul>
            </div>   

            <div id="vcenter_info"> 
    
                <p>输入VC的登录凭据，收集VMware vSphere虚拟化环境信息</p>
                <form  id="credential_form" method="post">
                    <table id="add_vcsso_table" class="table2">
                        <tr><td>vCenter Server IP/FQDN:</td><td class="col"><input type="text" name="vchost" /></td></tr>
                        <tr><td>SSO Username:</td><td class="col">
                                <input type="text" name="vcuser" size="25" placeholder="administrator@vsphere.local" />                            
                        </td></tr>
                        <tr><td>SSO password:</td><td class="col">                            
                            <div class="pass">
                                <input type="password" name="vc_password" id="vc_password" size="30" />
                                <div class="eye" id="show_vc_password" onclick="reveal_pass('show_vc_password','vc_password')"></div>                                
                            </div>
                        </td></tr>
                        <tr><td>VCSA root用户密码:</td><td class="col">
                                
                            <div class="pass">
                                <input type="password" id="vcrootpassword" name="vcrootpassword"  size="30" />
                                <div class="eye" id="show_vcroot_password" onclick="reveal_pass('show_vcroot_password','vcrootpassword')"></div>                                
                            </div>
                            </td></tr>
                    </table>
                    <p>*root用户登录用于收集VCSA虚拟机的内部信息，如：文件系统空间使用情况，证书是否过期等，vCenter各项服务的运行状况等！ </p>
    
                    <p><input type="checkbox" name="add_ipmi_host" id="add_ipmi_host" onclick="toggle_div('div_add_ipmiHosts')">收集服务器硬件告警信息 </p>
                    <div id="div_add_ipmiHosts">
                        <table id="add_host_table" class="table2">
                            <tr>
                                <td class="no_col">
                                    #
                                </td>
                                <td class="select_col">选择</td>
                                <td class="col">IP/FQDN</td>
                                <td class="col">Username</td>
                                <td class="col">Password</td>
                            </tr>
                            <tr>    
                                <td class="no_col"><script type="text/javascript">document.write(document.getElementById('add_host_table').rows.length-1)</script></td>
                                <td class="select_col"><input type="checkbox" name="checkbox1"></td>
                                <td class="col"><input type="text" name="ipmiip1"/></td>
                                <td class="col"><input type="text" name="ipmiuser1"/></td>            
                                <td class="col">
                                    
                                    <div class="pass">
                                        <input type="password" name="ipmipass1" id="ipmipass1" />
                                        <div class="eye" id="show_ipmipass1" onclick="reveal_pass('show_ipmipass1','ipmipass1')"></div>                                
                                    </div>
                                </td>
                            </tr>
                            
                        </table>
                        <div id="buttons">
                            <div id="add_host_buttn" >[+]add</div>
                            <div id="del_host_buttn" >[-]Delete</div>
                            <!-- <div id="submit_buttn" ><input type="submit"></div> -->
                        </div>
                    </div>
    
    
                    
    
                </form>
            </div>

            <div id="submit_buttn" onclick="submit('credential_form');"><b>Submit</b></div>
            <div id="show_data" ><b><a href="/inventory">数据展示</a></b></div>
            <div id="show_progress" style="visibility: hidden;">
                <h2>数据收集进度</h2>
                <p class="logger_title">VCSA信息收集进度：</p>
                <div id="vcsa_gathering_progress" class="logger">     </div>
                <p class="logger_title">vSphere信息收集进度：</p>
                <div id="dc_gathering_progress" class="logger">       </div>
                <p class="logger_title" id="ipmi_gathering_progress_title">IPMI信息收集进度：</p>
                <div id="ipmi_gathering_progress" class="logger">      </div>
                <p class="logger_title">vSphere VM信息收集进度：</p>
                <div id="vm_gathering_progress" class="logger">       </div>      
            </div>    
        </div>
  
        
        

 


    </body>

</html>
<script type="text/javascript">
    function toggle_div(div_id){
        var div = document.getElementById(div_id);
        if (div.style.display === "none" || div.style.display === "") {
            div.style.display = "block";
        } else {
            div.style.display = "none";
      }
    }

    function add_row(){
        // Find a <table> element with id="myTable":
        var table = document.getElementById('add_host_table');

        // Create an empty <tr> element and add it to the last (-1 index ) position of the table:
        var row = table.insertRow(-1);
        var currentRowIndex=row.rowIndex;
        
        

        // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        var cell4 = row.insertCell(3);
        var cell5 = row.insertCell(4);

        // Add some text to the new cells:
        cell1.innerHTML = "<td class=\"no_col\">"+currentRowIndex+"<\/td>";
        cell2.innerHTML = "<td class=\"select_col\"><input type=\"checkbox\" class=\"ipmicheckbox\" name=\"chekbox"+  currentRowIndex.toString()+"\"></td>";
        cell3.innerHTML = "<td class=\"input_col\"><input type=\"text\" name=\"ipmiip"+  currentRowIndex.toString()+"\" ></td>";
        cell4.innerHTML = "<td class=\"input_col\"><input type=\"text\" name=\"ipmiuser"+  currentRowIndex.toString()+"\"></td>";
        cell5.innerHTML = "<td class=\"col\"><div class=\"pass\"><input type=\"password\" name=\"ipmipass"+currentRowIndex.toString()+"\" id=\"ipmipass"+currentRowIndex.toString()+"\" /><div class=\"eye\" id=\"show_ipmipass"+currentRowIndex.toString() + "\" onclick=\"reveal_pass(\'show_ipmipass"+currentRowIndex.toString()+"\',\'ipmipass"+currentRowIndex.toString()+"\')\"></div></div></td>";
        console.log(cell5.innerHTML)
    }

    function del_row(){                
        var ckbxList=document.querySelectorAll("input[class*='ipmicheckbox']:checked");
        // alert(ckbxList.length.toString());
        if (ckbxList.length>0){
            ckbxList.forEach(function(e) {
                console.log(e.parentElement);
                e.parentElement.parentElement.remove();
            }); 
        }else{
            alert("Please Select a row to remove!")
        }
    }

    // Event delegation to handle dynamically added rows
    // Add the event listener once when the document is ready

    document.getElementById("add_host_buttn").addEventListener("click", function() {
        add_row();
    });


    document.getElementById("del_host_buttn").addEventListener("click", function() {
        del_row();
    });

    function createeventSource(eventtype,elementId){
        const VM_log_end_flag='the information acquisition of virtual machine(s) is finished!'
        const IPMI_log_end_flag='the information acquisition of ipmi host(s) is finished!'    
        const DATACENTER_log_end_flag='the information acquisition of datacenter(s) is finished!'
        const VCSA_log_end_flag='the information acquisition of vcsa is finished!'
        var eventend={}
        eventend={
            "VM":VM_log_end_flag,
            "IPMI":IPMI_log_end_flag,
            "DATACENTER":DATACENTER_log_end_flag,
            "VCSA":VCSA_log_end_flag
        };

        const eventSource = new EventSource(`/progress/${eventtype}`);
        const element = document.getElementById(elementId);

        eventSource.addEventListener(eventtype,(e) =>{
        
            var data=e.data
                .replace(/\[|\]/g, '')  // Remove '[' and ']'
                .replace(/'/g,'')       //replace '''
                .replace(/,/g, '<br>')     // Remove commas
            if (data.match(eventend[eventtype])){
                eventSource.close();
            }else{
                element.innerHTML=data;
            }


        });
        eventSource.onerror = function (error) {
                console.error('EventSource failed:', error);
                eventSource.close();
            };
    }

    
    function sse() {
        const VM_log_end_flag='the information acquisition of virtual machine(s) is finished!'
        const ipmi_checkbox=document.getElementById('add_ipmi_host');
        const eventSource = new EventSource("/progress");    
        const vm_div=document.getElementById('vm_gathering_progress');
        const ipmi_div=document.getElementById('ipmi_gathering_progress');
        const dc_div=document.getElementById('dc_gathering_progress');
        const vcsa_div=document.getElementById('vcsa_gathering_progress');


        // const progress_Div = document.getElementById(div_id);        
        // eventSource.onopen = (event) => {
            
        //     if (progress_Div.style.display==='none' || progress_Div.style.display==='' ) {
        //         progress_Div.style.display='block'
        //         progress_Div.innerText="开始数据收集..."
        //     }
        // };
        
        // eventSource.onmessage=(event) =>{
        //     progress_Div.innerText=event.data

        // }; 
        eventSource.addEventListener("VM",(e) =>{
            
            var data=e.data
                .replace(/\[|\]/g, '')  // Remove '[' and ']'
                .replace(/'/g,'')       //replace '''
                .replace(/,/g, '<br>')     // Remove commas
            if (data.match(VM_log_end_flag)){
                eventSource.close();
            }else{
                vm_div.innerHTML=data;
            }
            
            // console.log("VM: "+e.data);
        });
        if (ipmi_checkbox.checked==true){
                eventSource.addEventListener("IPMI",(e) =>{
                
                var data=e.data
                    .replace(/\[|\]/g, '')  // Remove '[' and ']'
                    .replace(/'/g,'')       //replace '''
                    .replace(/,/g, '<br>')     // Remove commas
                ipmi_div.innerHTML=data;
                // console.log("IPMI: "+e.data);
            });
        }


        eventSource.addEventListener("DATACENTER",(e) =>{
            var data=e.data
                .replace(/\[|\]/g, '')  // Remove '[' and ']'
                .replace(/'/g,'')       //replace '''
                .replace(/,/g, '<br>')     // Remove commas
            dc_div.innerHTML=data;
            // console.log("dc: "+e.data);
        });
        

            eventSource.addEventListener("VCSA",(e) =>{
            // console.log(typeof e.data)
            var data=e.data
                .replace(/\[|\]/g, '')  // Remove '[' and ']'
                .replace(/'/g,'')       //replace '''
                .replace(/,/g, '<br>')     // Remove commas

            vcsa_div.innerHTML=data;
            // console.log("VCSA: "+data);
        });
        
        
        eventSource.onerror=(event) => {
            console.log('connection state: ' + eventSource.readyState + ', error: ' + event);
            // progress_Div.innerText=event.error;
        };    
    }
    
    function submit(form_id){
        var form=document.getElementById(form_id);
        var inputs=document.getElementsByTagName("INPUT");
        var chkbx_ipmi=document.getElementById('add_ipmi_host');


        // 如果检查ipmi没有勾选，删除对ipmi登录凭据填写检查
        if (!chkbx_ipmi.checked){
            for (let i=0;i<inputs.length;i++){
                if (inputs[i].name.includes("ipmiip") || inputs[i].name.includes("ipmiuser") || inputs[i].name.includes("ipmipass") ){
                    inputs[i].remove()
                }
            }
        }

        var input_null=false;        
        
        for (var i=0;i<inputs.length-1;i++){
            if (inputs[i].type !="checkbox"){
                if (isnull(inputs[i].value)){
                    alert("你有栏目未填写！");
                    input_null=true;
                    break;
                }
            }
        }
        

        if (! input_null){
            form.submit();
            const logger_title_divs=document.querySelectorAll('.logger_title');
            const logger_divs=document.querySelectorAll('.logger');
            for (i=0;i<logger_title_divs.length;i++){
                if (logger_title_divs[i].id=='ipmi_gathering_progress_title') {
                    if (! chkbx_ipmi.checked){
                        logger_title_divs[i].style.visibility='hidden';
                    }else{
                        logger_title_divs[i].style.visibility='visible';
                    }
                    continue;
                }
                
                logger_title_divs[i].style.visibility='visible';
            }

            for (i=0;i<logger_divs.length;i++){                
                if (logger_divs[i].id=='ipmi_gathering_progress') {
                    // console.log(logger_divs[i].id)
                    if (! chkbx_ipmi.checked){
                        logger_title_divs[i].style.visibility='hidden';
                    }else{
                        logger_title_divs[i].style.visibility='visible';
                    }
                    continue;
                }
                
                logger_divs[i].style.visibility='visible';
                }
            
            sse();
        }
    }

    function isnull(val) { 
        var str = val.replace(/(^\s*)|(\s*$)/g, '');//去除空格;
        if (str == '' || str == undefined || str == null) {
            return true;
            // console.log('空')
        } else {
            return false;
            // console.log('非空');
        }
    }

    function reveal_pass(self_id,input_id){
        var eye = document.getElementById(self_id);        
        var password = document.getElementById(input_id);        
           if(password.type==='password')
           {
               password.setAttribute('type','text');
               eye.classList.add('reveal');
           }else{
            password.setAttribute('type','password');
               eye.classList.remove('reveal');
           }

    }

    function ifUrlExist(url, callback) {
    let request = new XMLHttpRequest;
    request.open('GET', url, true);
    request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
    request.setRequestHeader('Accept', '*/*');
    request.onprogress = function(event) {
        let status = event.target.status;
        let statusFirstNumber = (status).toString()[0];
        switch (statusFirstNumber) {
            case '2':
                request.abort();
                return callback(true);
            default:
                request.abort();
                return callback(false);
        };
    };
    request.send('');
};       



    
</script>