<!DOCTYPE html>
<html>
<head>
    <title>Log Viewer</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='treeview.css') }}">
</head>
<body>
    <div id="main_frame">
        <div id="header" class="header" >工作流程</div>

        <div>
            <ol class="nav">
                <li ><a href="{{ url_for('index') }}">登录信息输入</a></li>
                <li class="active"><a href="{{ url_for('QueryStatus') }}">信息收集</a></li>
                <li>数据展示</li>
                <li>报告生成</li>
              </ol>
        </div>    
        <h1>Log Viewer</h1>
        <div id="vcsa_gathering_progress">
        </div>
        <div id="dc_gathering_progress">
        </div>
        <div id="cls_gathering_progress">
        </div>
        <div id="host_gathering_progress">
        </div>
        <div id="vm_gathering_progress">
        </div>
    </div>
    <script>
                
        const eventSource = new EventSource("/progress");

        // eventSource.onmessage = function (event) {
        //     gathering_progress.innerHTML += event.data + "<br>";
        eventSource.addEventListener('VM',(event) =>{
            const vm_Div = document.getElementById('vm_gathering_progress');
            vm_Div.innerHTML += event.data + "<br>";


        });                 
    </script>
</body>
</html>