<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script> -->
</head>
<body>
    <script>
        var currentRowIndex=10
        var str = "<td class=\"col\"><div class=\"pass\"><input type=\"password\" name=\"ipmipass1\" id=\"ipmipass"+currentRowIndex.toString()+"\" /><div class=\"eye\" id=\"show_ipmipass"+currentRowIndex.toString() + "\" onclick=\"reveal_pass(\'show_ipmipass"+currentRowIndex.toString()+"\',\'ipmipass"+currentRowIndex.toString()+"\')\"></div></div></td>";
        console.log(str)
    </script>
</body>
</html>